<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="javax.swing"
         name="Swing Support Plugin"
         point="edu.clarkson.serl.critical.factory">
      <factory
            class="edu.clarkson.serl.critic.swing.SwingFactory">
      </factory>
   </extension>

</plugin>
